     /* variables css /custom properties */
:root{
    --naranja: #f90;
    --negro: #000;
    --blanco: #fff;
    --gris01: #333;
    --gris02: #bbb;

    --espacio: 16px

}



body{
    /* usamos la variable dentro de var() */
    background-color:var(--gris01) ;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./imagenes/pattern.jpg);

}
.contenedor{
    
    /* limitamos el ancho a 1200 */
    max-width: 1200px;
    /* centramos el contenedor usando el mismo margen automático
    a la derecha y a la izquierda */
    margin-left: auto;
    margin-right: auto;

}
.cabecera{
    
    display: flex;
    justify-content: space-between;
    color: var(--naranja);

}
.contenido{
    background-color: var(--blanco);
    border-radius: 8px;
    border-right: 1px solid var(--negro);
    border-left: 1px solid var(--negro);
    
    padding-bottom: 40px;

    

}
.nav{
    background-color: aqua;

}
.nav-lista{
    background-color: var(--naranja);
    /* saca los puntitos de la lista */
    list-style-type: none;
    /* sacamos el padding-left predeterminado */
    padding-left: 0;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 16px;

}
.nav-lista li{
    flex-grow: 1;
    background-color: var(--naranja);

}
.nav-lista a {
    /* los transformo en elementos de bloque */
    display:block ;
    text-decoration: none;
    padding: 4px 8px;
    text-align: center;
    /* agrega el borde a la derecha */
    border-right: 1px solid var(--blanco);
    font-weight: bold;
    color: var(--blanco);
    
}
    

.nav-lista a:hover{
    background-color:var(--gris01) ;

}
.nav-form{
    min-width: 450px;
    text-align: right;
    

}
.slider{
    text-align: center;
    margin-bottom: 40 px;
}
.main{
    background-color: aqua;
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
    
}
.categorias{
    background-color:tomato;
    
}
.productos{
    background-color: greenyellow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.lampara{
    background-color: indianred; 
}
.lampara h2{
    font-size: 20px;

}
.lampara-info{
    display: flex;
    gap: 20px;
}
.texto{
    font-size: small;
    font-weight: 200;
    
    display: flex;
    gap: 20px;
}

.imagen{
    text-align: right;
}
/* newsletter */
.newsletter{
    /* border:2px solid purple; */
    background-image: linear-gradient(var(--blanco) 70%, var(--gris02));
    /* height: 100px; */
   

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* separar el pie del sitio */
    margin-bottom: 40px;
    padding: 8px 35px;
    border-radius: 4px;
    border: 1px solid var(--gris01);
    display: flex;
    align-items: center;
    
}
.news-form{
    text-align: right;
    /* alineamos a la derecha */
    flex-grow: 1;
}
.news-info{
    display: flex;
    flex-direction: column;
    /* elimino margenes predeterminados de los párrafos */
    margin:0;
}
.news-info strong{
    padding-left: 35px;
}

.news-info span{
    padding-left: 70px;
}
.element{
    font-weight: bolder;
    background: none;
    border: 0;
    /* para poner la manito al cursor si la pierde */
    cursor: pointer;
}

   


