     
:root{
    --naranja: #f90;
    --negro: #000;
    --blanco: #fff;
    --gris01: #333;
    --gris02: #bbb;

    --espacio: 16px

}



body{
    background-color:var(--naranja) ;

}
h1{
    color: var(--gris01);
    background-color: var(--blanco);
    
}
p{
    color: var(--blanco);
    background-color: var(--gris01);
}